<table class="table table-striped table-bordered table-responsive">
    <thead>
    <tr>
        <th>ID</th>
        <th>Service</th>
        <th>API Key</th>
        <th>List</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="integration in vm.integrations">
        <td>{{ integration.id }}</td>
        <td>{{ integration.service | service_name }}</td>
        <td>
            <a ng-href="#/integrations/{{integration.id}}/edit">
                {{ integration.api_key }}
            </a>
        </td>
        <td>{{ integration.list_name }}</td>
        <td>
            <a ng-href="#/integrations/{{integration.id}}">Show</a>
            &nbsp;
            <a ng-href="#/integrations/{{integration.id}}/edit">Edit</a>
            &nbsp;
            <a ng-click='vm.remove(integration)' href="#delete">Delete</a>
        </td>
    </tr>
    </tbody>
</table>