!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title MailerliteIntegrationApp
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag  'application', media: 'all'
    = csrf_meta_tags
  %body
    = yield
